{
  "log": {
    "_recordingName": "build-host-agent-has-policy-relationship",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "bec56eb39bef529cecf0d157f0695552",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "client-id",
              "value": "bae53815f34029be57659bdbf434b298061b6846"
            },
            {
              "_fromType": "array",
              "name": "client-secret",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://prod.addigy.com/api/devices"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 10143,
            "text": "[{\"Bandwidth Saved (GB)\": 0, \"Battery Capacity Loss Percentage\": 12.2, \"Used Memory (GB)\": 5, \"UDID\": \"644D7162-2B41-5A68-9AA7-8DB4FC6ABFF5\", \"Addigy Splashtop Installed\": null, \"Agent Version\": \"0.02.022\", \"Time Machine Last Backup Date\": \"1970-01-01T00:00:00Z\", \"Phone Number\": \"\", \"Warranty Days Left\": 0, \"Do Not Disturb Enabled\": false, \"Ethernet MA CS\": null, \"Subscriber Carrier\": \"\", \"Policy IDs\": [\"a8b36bef-42d1-4a96-bfdf-f39e36fa5bc2\"], \"Firewall Allowed Applications\": [\"ControlCenter.app\"], \"Days Since Last Cloud Backup\": null, \"Is Roaming\": false, \"Third-Party Agents\": [\"com.addigy.agent-postlogin.plist\", \"com.addigy.agent-prelogin.plist\", \"com.addigy.self-service.plist\"], \"Timezone\": \"America/New_York\", \"User Enrollment\": false, \"iMEI\": \"\", \"Has MDM Profile Approved\": true, \"Has Wireless\": true, \"Online\": false, \"Current MCC\": \"\", \"Locales\": [\"No\", \"Locales\"], \"client_ip\": \"99.149.123.189\", \"Cloud Backup Enabled\": false, \"LANCache Size (bytes)\": 101204793, \"Total Disk Space (GB)\": 251, \"Admin Users\": [\"rickmorty\"], \"OS Platform\": \"Darwin-21.1.0-x86_64-i386-64bit\", \"Firewall Stealth Mode Enabled\": false, \"Max Resident Users\": 0, \"ScreenConnect SessionId\": \"\", \"MeId\": \"\", \"Firmware Password Change Pending\": false, \"Firmware Password Exists\": false, \"Passcode Lock Grace Period Enforced\": null, \"Remote Desktop Enabled\": false, \"Is Activation Lock Manageable\": true, \"Addigy Identity Users\": null, \"Is Recovery Lock Enabled\": null, \"TeamViewer Client Id\": \"\", \"Cellular Technology\": 0, \"Wifi MAC Address\": \"14:7d:da:4f:73:10\", \"Tmp Size (MB)\": 5, \"Product Name\": \"MacBookAir9,1\", \"Is Supervised\": true, \"Firewall Enabled\": true, \"FileVault Enabled\": true, \"Device Model Name\": \"MacBook Air\", \"Kernel Panic\": false, \"Current User\": \"rickmorty\", \"Crashplan Days Since Last Backup\": 0, \"Installed Profiles\": [\"com.addigy.pppc.Maintenance Scheduler\", \"com.github.addigy.mdm.mdm\", \"com.addigy.pppc.Auditor\", \"com.addigy.pppc.Create User Script\", \"com.addigy.pppc.go-agent\", \"com.addigy.pppc.Collector\"], \"Last Online\": \"2021-12-03T19:40:20.551Z\", \"SMART Failing\": false, \"FileVault Key Escrowed\": false, \"Subscriber MNC\": \"\", \"Time Machine Days Since Last Backup\": -1, \"Modem Firmware Version\": \"\", \"Battery Failures\": 0, \"policy_id\": \"a8b36bef-42d1-4a96-bfdf-f39e36fa5bc2\", \"Passcode Compliant With Profiles\": null, \"Local IP\": \"192.168.111.64\", \"Passcode Present\": null, \"Serial Number\": \"C02D91CNPV4M\", \"Bootstrap Token Required For Kernel Extension Approval\": false, \"Is Apple Silicon\": false, \"Passcode Compliant\": null, \"Policy Execution (seconds)\": 95, \"Bluetooth MAC\": \"14:7D:DA:4E:50:6D\", \"Build Version\": \"21A559\", \"Personal Hotspot Enabled\": false, \"MAC OS X Version\": \"12.0.1\", \"LocalH[...]
