{
  "log": {
    "_recordingName": "fetch-devices",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "2c6109646a91cb9eed92147e5a9f057a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "client-id",
              "value": "bae53815f34029be57659bdbf434b298061b6846"
            },
            {
              "_fromType": "array",
              "name": "client-secret",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://prod.addigy.com/api/policies"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1265,
            "text": "[\n  {\n    \"creation_time\": 1635863715.0,\n    \"orgid\": \"dbe4ca5c-7374-4246-a4a0-86a6dc501875\",\n    \"color\": \"#000000\",\n    \"parent\": null,\n    \"download_path\": \"https://prod.addigy.com/download/addigy_agent/dbe4ca5c-7374-4246-a4a0-86a6dc501875/a8b36bef-42d1-4a96-bfdf-f39e36fa5bc2\",\n    \"icon\": \"fa fa-university\",\n    \"name\": \"JupiterOne\",\n    \"policyId\": \"a8b36bef-42d1-4a96-bfdf-f39e36fa5bc2\"\n  },\n  {\n    \"creation_time\": 1635863715.0,\n    \"orgid\": \"dbe4ca5c-7374-4246-a4a0-86a6dc501875\",\n    \"color\": \"#000000\",\n    \"parent\": \"a8b36bef-42d1-4a96-bfdf-f39e36fa5bc2\",\n    \"download_path\": \"https://prod.addigy.com/download/addigy_agent/dbe4ca5c-7374-4246-a4a0-86a6dc501875/e355ccb8-0a1a-4ede-9368-d98461418cd6\",\n    \"icon\": \"fa fa-university\",\n    \"name\": \"Location 2\",\n    \"policyId\": \"e355ccb8-0a1a-4ede-9368-d98461418cd6\"\n  },\n  {\n    \"creation_time\": 1635863715.0,\n    \"orgid\": \"dbe4ca5c-7374-4246-a4a0-86a6dc501875\",\n    \"color\": \"#000000\",\n    \"parent\": \"a8b36bef-42d1-4a96-bfdf-f39e36fa5bc2\",\n    \"download_path\": \"https://prod.addigy.com/download/addigy_agent/dbe4ca5c-7374-4246-a4a0-86a6dc501875/e6d8061f-8ef8-456c-a5a1-18acdccf330f\",\n    \"icon\": \"fa fa-university\",\n    \"name\": \"Location 1\",\n    \"policyId\": \"e6d8061f-8ef8-456c-a5a1-18acdccf330f\"\n  }\n]\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 20565,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
