{
  "log": {
    "_recordingName": "fetchPoliciesShouldCollectData",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "10b2cb369c7637a307c28340d00ae084",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "client-id",
              "value": "10f7b15901fbf9bf387a83b42a3c4e8b764e3c36"
            },
            {
              "_fromType": "array",
              "name": "client-secret",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://prod.addigy.com/api/policies"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 669,
            "text": "[{\"creation_time\": 1635863715.0, \"orgid\": \"dbe4ca5c-7374-4246-a4a0-86a6dc501875\", \"color\": \"#000000\", \"parent\": null, \"download_path\": \"https://prod.addigy.com/download/addigy_agent/dbe4ca5c-7374-4246-a4a0-86a6dc501875/a8b36bef-42d1-4a96-bfdf-f39e36fa5bc2\", \"icon\": \"fa fa-university\", \"name\": \"JupiterOne\", \"policyId\": \"a8b36bef-42d1-4a96-bfdf-f39e36fa5bc2\"}, {\"creation_time\": 1635863715.0, \"orgid\": \"dbe4ca5c-7374-4246-a4a0-86a6dc501875\", \"color\": \"#000000\", \"parent\": \"a8b36bef-42d1-4a96-bfdf-f39e36fa5bc2\", \"download_path\": \"https://prod.addigy.com/download/addigy_agent/dbe4ca5c-7374-4246-a4a0-86a6dc501875/e355ccb8-0a1a-4ede-9368-d98461418cd6\", \"icon\": \"fa fa-university\", \"name\": \"Location 2\", \"policyId\": \"e355ccb8-0a1a-4ede-9368-d98461418cd6\"}, {\"creation_time\": 1635863715.0, \"orgid\": \"dbe4ca5c-7374-4246-a4a0-86a6dc501875\", \"color\": \"#000000\", \"parent\": \"a8b36bef-42d1-4a96-bfdf-f39e36fa5bc2\", \"download_path\": \"https://prod.addigy.com/download/addigy_agent/dbe4ca5c-7374-4246-a4a0-86a6dc501875/e6d8061f-8ef8-456c-a5a1-18acdccf330f\", \"icon\": \"fa fa-university\", \"name\": \"Location 1\", \"policyId\": \"e6d8061f-8ef8-456c-a5a1-18acdccf330f\"}]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 274,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
