{
  "log": {
    "_recordingName": "fetchUsersShouldCollectData",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "786e70b18d7b3751505013fee6d6bbb2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "client-id",
              "value": "10f7b15901fbf9bf387a83b42a3c4e8b764e3c36"
            },
            {
              "_fromType": "array",
              "name": "client-secret",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://prod.addigy.com/signin/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 385,
            "text": "[\"1f8b08000000000000035c8fc10e823010447fc5f46c11680bd5937f62d6762bd5c292a5c483f1dfa51c3dcecbbc64e62318218de27210339317c783c011622ac00d1c970a5384e5fa5ce7989169c2cad1586a8c3e32ba5c9aa702881fd197e4efa81d18277bd56ba95bdd49d0504bdb41e79da91bdb9b22c09a874c2f9c76c9b946a131b2e95590da8296f61c5ad982b21e6bad54b7afa33cdf72804d099016dc885fe98f3025dc1fd11b597c7f000000ffff\",\"0300e40e034fe4000000\"]"
          },
            {
              "domain": ".addigy.com",
              "expires": "2022-01-05T06:50:29.000Z",
              "httpOnly": true,
              "maxAge": 28800,
              "name": "prod_original_auth_token",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 857,
      },
      {
        "_id": "2c509c0e2a3adf5042a4cb5baf175434",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "client-id",
              "value": "10f7b15901fbf9bf387a83b42a3c4e8b764e3c36"
            },
            {
              "_fromType": "array",
              "name":[...]
