{
  "log": {
    "_recordingName": "fetchUsersShouldCollectData",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "786e70b18d7b3751505013fee6d6bbb2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "client-id",
              "value": "10f7b15901fbf9bf387a83b42a3c4e8b764e3c36"
            },
            {
              "_fromType": "array",
              "name": "client-secret",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://prod.addigy.com/signin/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 383,
            "text": "{\"orgid\": \"dbe4ca5c-7374-4246-a4a0-86a6dc501875\", \"authtoken\": \"0890f721-1345-42cf-8f51-f1d124c6b058\", \"email\": \"chris.elias@jupiterone.com\", \"role\": \"power\", \"duo_tfa\": false, \"otp_tfa\": false, \"redirect\": \"/\", \"realm\": \"prod\"}"
          },
            {
              "domain": ".addigy.com",
              "expires": "2022-01-05T07:34:12.000Z",
              "httpOnly": true,
              "maxAge": 28800,
              "name": "prod_auth_token",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 935,
      },
      {
        "_id": "2c509c0e2a3adf5042a4cb5baf175434",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "client-id",
              "value": "10f7b15901fbf9bf387a83b42a3c4e8b764e3c36"
            },
            {
              "_fromType": "array",
              "name": "client-secret",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://app-prod.addigy.com/api/account"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1192,
            "text": "{\"users\":[{\"id\":\"61814bee53be1946d894db2b\",\"uid\":\"\",\"name\":\"Sam Andrus\",\"email\":\"sam.andrus@jupiterone.com\",\"phone\":\"\",\"role\":\"power\",\"addigy_role\":\"\",\"policies\":null,\"scopes\":[]},{\"id\":\"61814d023056d9124778599a\",\"uid\":\"\",\"name\":\"Austin Kelleher\",\"email\":\"austin.kelleher@jupiterone.com\",\"phone\":\"\",\"role\":\"power\",\"addigy_role\":\"\",\"policies\":[],\"scopes\":[]},{\"id\":\"61a8f199276293c4fc9d6031\",\"uid\":\"\",\"name\":\"Josh Mattox\",\"email\":\"josh.mattox+integrations@jupiterone.com\",\"phone\":\"\",\"role\":\"power\",\"addigy_role\":\"\",\"policies\":null,\"scopes\":[]},{\"id\":\"61d35063b29e77501b92c75f\",\"uid\":\"\",\"name\":\"Chris Elias\",\"email\":\"chris.elias@jupiterone.com\",\"phone\":\"\",\"role\":\"power\",\"addigy_role\":\"\",\"policies\":null,\"scopes\":[]}],\"supporters\":[],\"org\":{\"orgid\":\"dbe4ca5c-7374-4246-a4a0-86a6dc501875\",\"software_sharing_allowed\":false,\"wizardsteps\":[],\"wizard\":{\"done\":true,\"page\":0},\"org_name\":\"JupiterOne\",\"payments_failed\":0,\"age_in_days\":63,\"engpayrate\":40,\"support_phone\":\"\",\"session_expiration_minutes\":480,\"email_chat_session\":false,\"alert_on_new_system_updates\":false,\"subdomain\":\"dbe4ca5c-7374-4246-a4a0-86a6dc501875\",\"billing_emails\":\"sam.andrus@jupiterone.com\",\"address\":\"\",\"golive_ss_enabled\":false,\"payment_succeeded\":false,\"software_sharing_enabled\":false,\"support_email\":\"\",\"support_access_enabled\":false,\"smenabled\":false,\"support_access_expires\":0,\"logo_path\":\"\",\"organization_type\":\"Corporation\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 136,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
