{
  "log": {
    "_recordingName": "fetchDevicesShouldBuildPolicyRelationship",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "10b2cb369c7637a307c28340d00ae084",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "client-id",
              "value": "10f7b15901fbf9bf387a83b42a3c4e8b764e3c36"
            },
            {
              "_fromType": "array",
              "name": "client-secret",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://prod.addigy.com/api/policies"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 669,
            "text": "[{\"color\": \"#000000\", \"policyId\": \"a8b36bef-42d1-4a96-bfdf-f39e36fa5bc2\", \"download_path\": \"https://prod.addigy.com/download/addigy_agent/dbe4ca5c-7374-4246-a4a0-86a6dc501875/a8b36bef-42d1-4a96-bfdf-f39e36fa5bc2\", \"creation_time\": 1635863715.0, \"icon\": \"fa fa-university\", \"name\": \"JupiterOne\", \"parent\": null, \"orgid\": \"dbe4ca5c-7374-4246-a4a0-86a6dc501875\"}, {\"color\": \"#000000\", \"policyId\": \"e355ccb8-0a1a-4ede-9368-d98461418cd6\", \"download_path\": \"https://prod.addigy.com/download/addigy_agent/dbe4ca5c-7374-4246-a4a0-86a6dc501875/e355ccb8-0a1a-4ede-9368-d98461418cd6\", \"creation_time\": 1635863715.0, \"icon\": \"fa fa-university\", \"name\": \"Location 2\", \"parent\": \"a8b36bef-42d1-4a96-bfdf-f39e36fa5bc2\", \"orgid\": \"dbe4ca5c-7374-4246-a4a0-86a6dc501875\"}, {\"color\": \"#000000\", \"policyId\": \"e6d8061f-8ef8-456c-a5a1-18acdccf330f\", \"download_path\": \"https://prod.addigy.com/download/addigy_agent/dbe4ca5c-7374-4246-a4a0-86a6dc501875/e6d8061f-8ef8-456c-a5a1-18acdccf330f\", \"creation_time\": 1635863715.0, \"icon\": \"fa fa-university\", \"name\": \"Location 1\", \"parent\": \"a8b36bef-42d1-4a96-bfdf-f39e36fa5bc2\", \"orgid\": \"dbe4ca5c-7374-4246-a4a0-86a6dc501875\"}]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 186,
      },
      {
        "_id": "80628dad3832babb0e878c289c19f290",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "client-id",
              "value": "10f7b15901fbf9bf387a83b42a3c4e8b764e3c36"
            },
            {
              "_fromType": "array",
              "name": "client-secret",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://prod.addigy.com/api/devices"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 6240,
            "text": "[{\"MeId\": \"\", \"Active Managed Users\": [\"564C0D24-3A54-4B64-BA53-44C0F6C39A74\"], \"Time Machine Days Since Last Backup\": -1, \"Splashtop ID\": \"\", \"Firewall Blocked Applications\": null, \"Battery Cycles\": 47, \"Battery Failures\": 0, \"Device Name\": \"RickandMorty-MBP\", \"Battery Capacity Loss Percentage\": 12.2, \"agentid\": \"effe4d4d-14de-46ba-a27f-c22296e47d9d\", \"Online\": false, \"Authenticated Root Volume Enabled\": true, \"Is Recovery Lock Enabled\": null, \"Bandwidth Served (GB)\": 0, \"Current MNC\": \"\", \"XCode Installed\": true, \"Bootstrap Token Required For Kernel Extension Approval\": false, \"Languages\": [\"No\", \"Languages\"], \"ScreenConnect SessionId\": \"\", \"EAS Device Identifier\": \"\", \"Files Served\": 0, \"Firmware Password Change Pending\": false, \"Third-Party Agents\": [\"com.addigy.agent-postlogin.plist\", \"com.addigy.agent-prelogin.plist\", \"com.addigy.self-service.plist\"], \"Splashtop Installation Date\": null, \"Firmware Password Allow Orams\": true, \"Ethernet MA CS\": null, \"Kernel Panic\": false, \"Subscriber Carrier\": \"\", \"Mac UUID\": \"644D7162-2B41-5A68-9AA7-8DB4FC6ABFF5\", \"Free Disk Percentage\": 92, \"Admin Users\": [\"rickmorty\"], \"Total Memory (GB)\": 8, \"Battery Temperature(Fahrenheit)\": 85.6, \"Timezone\": \"America/New_York\", \"Device Model Name\": \"MacBook Air\", \"Is Supervised\": true, \"Cellular Technology\": 0, \"Last Cloud Backup Date\": null, \"Secure Boot Level\": \"full\", \"Max Resident Users\": 0, \"User Enrollment\": false, \"Addigy Splashtop Installed\": null, \"Days Since Last Cloud Backup\": null, \"ApprovedPatchesApplied\": 0, \"Bandwidth Saved (GB)\": 0, \"FileVault Enabled\": true, \"LocalHost Name\": \"RickandMorty-MBP\", \"Product Description\": \"n/a\", \"Passcode Present\": null, \"Third-Party Kernel Extensions\": null, \"Displays Serial Number\": null, \"Enrolled Via DEP\": false, \"Product Name\": \"MacBookAir9,1\", \"Firmware Password Exists\": false, \"Personal Hotspot Enabled\": false, \"Display On\": false, \"FileVault Key Escrowed\": false, \"Battery Temperature(Celsius)\": 29.8, \"Phone Number\": \"\", \"Bluetooth MAC\": \"14:7D:DA:4E:50:6D\", \"Battery Percentage\": 52.7, \"Voice Roaming Enabled\": false, \"Crashplan Days Since Last Backup\": 0, \"Passcode Compliant\": null, \"Policy Execution (seconds)\": 95, \"Warranty Expiration Date\": \"2011-08-27T00:00:00Z\", \"Cloud Backup Enabled\": false, \"Gatekeeper Enabled\": true, \"UDID\": \"644D7162-2B41-5A68-9AA7-8DB4FC6ABFF5\", \"MDM Lost Mode Enabled\": false, \"Has MDM\": true, \"Free Disk Space (GB)\": 230, \"OS Version\": \"12.0.1\", \"Host Name\": null, \"Firewall Block All Incoming Connections\": false, \"Processor Speed (GHz)\": 1.1, \"Third-Party Daemons\": [\"com.addigy.agent.plist\", \"com.addigy.auditor.plist\", \"com.addigy.collector.plist\", \"com.addigy.lan-cache.plist\", \"com.addigy.maintenance.plist\", \"com.addigy.policier.plist\", \"com.addigy.updater.plist\"], \"Bootstrap Token Required For Software Update\": false, \"Battery Charging\": false, \"Carrier Settings Version\": \"\", \"Software Update Device ID\": \"J230kAP\", \"System Integrity Protection Enabled\": true, \"Remote Login Enabled\": false, \"policy_id\": \"a8b36bef-42d1-4a96-bfdf-f39e36fa5bc2\", \"Processor Type\": \"Quad-Core Intel Core i5\", \"SMART Failing\": false, \"Bootstrap Token Allowed For Authentication\": \"not supported\", \"MAC OS X Version\": \"12.0.1\", \"Addigy Identity Users\": null, \"Activation Lock Enabled\": false, \"Do Not Disturb Enabled\": false, \"Firewall Enabled\": true, \"Has MDM Profile Approved\": true, \"Agent Version\": \"0.02.022\", \"OS Platform\": \"Darwin-21.1.0-x86_64-i386-64bit\", \"LANCache Size (bytes)\": 101204793, \"Modem Firmware Version\": \"\", \"Passcode Compliant With Profiles\": null, \"Current MCC\": \"\", \"Hardware Encryption Capability (iOS only)\": null, \"Java Version\": \"\", \"Local IP\": \"192.168.111.64\", \"Passcode Lock Grace Period Enforced\": null, \"Total Disk Space (GB)\": 251, \"External Boot Level\": \"disallowed\", \"System Version\": \"macOS 12.0.1 (21A559)\", \"Locales\": [\"No\", \"Locales\"], \"TeamViewer Client Id\": \"\", \"Current Carrier\": \"\", \"Has Wireless\": true, \"Is Roaming\": false, \"Installed Profiles\": [\"com.addigy.pppc.Maintenance Scheduler\", \"com.github.addigy.mdm.mdm\", \"com.addigy.pppc.Auditor\", \"com.addigy.pppc.Create User Script\", \"com.addigy.pppc.go-agent\", \"com.addigy.pppc.Collector\"], \"Last Reboot Timestamp\": 1638545934, \"Watchman Monitoring Installed\": false, \"Ethernet MAC Address\": null, \"Subscriber MCC\": \"\", \"Used Memory (GB)\": 5, \"Peer Count\": 0, \"iCCID\": \"\", \"Firewall Allowed Applications\": [\"ControlCenter.app\"], \"Uptime (days)\": 0, \"Firewall Stealth Mode Enabled\": false, \"Java Vendor\": \"Not Available\", \"Warranty Days Left\": 0, \"Sim Carrier\": \"\", \"Remote Desktop Enabled\": false, \"Hardware Model\": \"MacBookAir9,1\", \"Is Activation Lock Manageable\": true, \"Policy IDs\": [\"a8b36bef-42d1-4a96-bfdf-f39e36fa5bc2\"], \"Subscriber MNC\": \"\", \"client_ip\": \"99.149.123.189\", \"Data Roaming Enabled\": false, \"Registration Date\": \"2021-12-03T15:59:16Z\", \"Tmp Size (MB)\": 5, \"Manufactured Date\": \"2010-08-27T00:00:00Z\", \"Wifi MAC Address\": \"14:7d:da:4f:73:10\", \"Location Service Enabled\": false, \"Awaiting Configuration\": false, \"Time Machine Last Backup Date\": \"1970-01-01T00:00:00Z\", \"32-Bit Application Paths\": null, \"Policy ID\": \"a8b36bef-42d1-4a96-bfdf-f39e36fa5bc2\", \"iMEI\": \"\", \"Is Apple Silicon\": false, \"Current User\": \"rickmorty\", \"Build Version\": \"21A559\", \"Last Online\": \"2021-12-03T19:40:20.551Z\", \"Serial Number\": \"C02D91CNPV4M\", \"Addigy Identity Installed\": false, \"Passcode Lock Grace Period\": null}, {\"MeId\": \"\", \"Active Managed Users\": null, \"Time Machine Days Since Last Backup\": null, \"Splashtop ID\": null, \"Firewall Blocked Applications\": null, \"Battery Cycles\": null, \"Battery Failures\": null, \"Device Name\": \"Josh\[...]
