{
  "log": {
    "_recordingName": "build-user-has-policy-relationship",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b7a3f8f28410c8d1d96253c9e3f8354a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "client-id",
              "value": "bae53815f34029be57659bdbf434b298061b6846"
            },
            {
              "_fromType": "array",
              "name": "client-secret",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://prod.addigy.com/signin/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 248,
            "text": "{\"orgid\": \"dbe4ca5c-7374-4246-a4a0-86a6dc501875\", \"authtoken\": \"0890f721-1345-42cf-8f51-f1d124c6b058\", \"email\": \"chris.elias@jupiterone.com\", \"role\": \"power\", \"duo_tfa\": false, \"otp_tfa\": false, \"redirect\": \"/\", \"realm\": \"prod\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 16591,
      },
      {
        "_id": "f31c366bb517e6f982d09494ae80111a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "client-id",
              "value": "bae53815f34029be57659bdbf434b298061b6846"
            },
            {
              "_fromType": "array",
              "name": "client-secret",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://app-prod.addigy.com/api/account"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1600,
            "text": "{\"users\":[{\"id\":\"61814bee53be1946d894db2b\",\"uid\":\"\",\"name\":\"Sam Andrus\",\"email\":\"sam.andrus@jupiterone.com\",\"phone\":\"\",\"role\":\"power\",\"addigy_role\":\"\",\"policies\":null,\"scopes\":[]},{\"id\":\"61814d023056d9124778599a\",\"uid\":\"\",\"name\":\"Austin Kelleher\",\"email\":\"austin.kelleher@jupiterone.com\",\"phone\":\"\",\"role\":\"power\",\"addigy_role\":\"\",\"policies\":[],\"scopes\":[]},{\"id\":\"61a8f199276293c4fc9d6031\",\"uid\":\"\",\"name\":\"Josh Mattox\",\"email\":\"josh.mattox+integrations@jupiterone.com\",\"phone\":\"\",\"role\":\"power\",\"addigy_role\":\"\",\"policies\":null,\"scopes\":[]},{\"id\":\"61d35063b29e77501b92c75f\",\"uid\":\"\",\"name\":\"Chris Elias\",\"email\":\"chris.elias@jupiterone.com\",\"phone\":\"\",\"role\":\"power\",\"addigy_role\":\"\",\"policies\":null,\"scopes\":[]},{\"id\":\"61d4eaa7aa1dd0d72b9a8e92\",\"uid\":\"\",\"name\":\"test-user\",\"email\":\"chris.elias5@gmail.com\",\"phone\":\"\",\"role\":\"user\",\"addigy_role\":\"\",\"policies\":[\"a8b36bef-42d1-4a96-bfdf-f39e36fa5bc2\"],\"scopes\":[]}],\"supporters\":[],\"org\":{\"orgid\":\"dbe4ca5c-7374-4246-a4a0-86a6dc501875\",\"software_sharing_allowed\":false,\"wizardsteps\":[],\"wizard\":{\"done\":true,\"page\":0},\"org_name\":\"JupiterOne\",\"payments_failed\":0,\"age_in_days\":63,\"engpayrate\":40,\"support_phone\":\"\",\"session_expiration_minutes\":480,\"email_chat_session\":false,\"alert_on_new_system_updates\":false,\"subdomain\":\"dbe4ca5c-7374-4246-a4a0-86a6dc501875\",\"billing_emails\":\"sam.andrus@jupiterone.com\",\"address\":\"\",\"golive_ss_enabled\":false,\"payment_succeeded\":false,\"software_sharing_enabled\":false,\"support_email\":\"\",\"support_access_enabled\":false,\"smenabled\":false,\"support_access_expires\":0,\"logo_path\":\"\",\"organization_type\":\"Corporation\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 13810,
      },
      {
        "_id": "2c6109646a91cb9eed92147e5a9f057a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "client-id",
              "value": "bae53815f34029be57659bdbf434b298061b6846"
            },
            {
              "_fromType": "array",
              "name": "client-secret",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://prod.addigy.com/api/policies"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1265,
            "text": "[\n  {\n    \"creation_time\": 1635863715.0,\n    \"orgid\": \"dbe4ca5c-7374-4246-a4a0-86a6dc501875\",\n    \"color\": \"#000000\",\n    \"parent\": null,\n    \"download_path\": \"https://prod.addigy.com/download/addigy_agent/dbe4ca5c-7374-4246-a4a0-86a6dc501875/a8b36bef-42d1-4a96-bfdf-f39e36fa5bc2\",\n    \"icon\": \"fa fa-university\",\n    \"name\": \"JupiterOne\",\n    \"policyId\": \"a8b36bef-42d1-4a96-bfdf-f39e36fa5bc2\"\n  },\n  {\n    \"creation_time\": 1635863715.0,\n    \"orgid\": \"dbe4ca5c-7374-4246-a4a0-86a6dc501875\",\n    \"color\": \"#000000\",\n    \"parent\": \"a8b36bef-42d1-4a96-bfdf-f39e36fa5bc2\",\n    \"download_path\": \"https://prod.addigy.com/download/addigy_agent/dbe4ca5c-7374-4246-a4a0-86a6dc501875/e355ccb8-0a1a-4ede-9368-d98461418cd6\",\n    \"icon\": \"fa fa-university\",\n    \"name\": \"Location 2\",\n    \"policyId\": \"e355ccb8-0a1a-4ede-9368-d98461418cd6\"\n  },\n  {\n    \"creation_time\": 1635863715.0,\n    \"orgid\": \"dbe4ca5c-7374-4246-a4a0-86a6dc501875\",\n    \"color\": \"#000000\",\n    \"parent\": \"a8b36bef-42d1-4a96-bfdf-f39e36fa5bc2\",\n    \"download_path\": \"https://prod.addigy.com/download/addigy_agent/dbe4ca5c-7374-4246-a4a0-86a6dc501875/e6d8061f-8ef8-456c-a5a1-18acdccf330f\",\n    \"icon\": \"fa fa-university\",\n    \"name\": \"Location 1\",\n    \"policyId\": \"e6d8061f-8ef8-456c-a5a1-18acdccf330f\"\n  }\n]\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 18595,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
